In [20]:
import pandas as pd

In [21]:
# Read in tables a and b from excel files
table_a = pd.read_excel('left_table.xlsx')
table_b = pd.read_excel('right_table.xlsx')

In [22]:
table_a.head()

  patient_id  age  mass_kg  height_m
0   pid_0001   29       52      1.63
1   pid_0002   26       44      1.62
2   pid_0003   70       56      1.67
3   pid_0004   41       75      1.77
4   pid_0005   30       37      1.67

In [23]:
table_b.head()

  patient_id  hematocrit_percent
0   pid_0001                  47
1   pid_0003                  40
2   pid_0004                  44
3   pid_0005                  44
4   pid_0013                  45

In [24]:
# Get row count of table a and table b
a_count = len(table_a)
b_count = len(table_b)

print("table_a row count: ", a_count)
print("table_b row count: ", b_count)

table_a row count:  1000
table_b row count:  572

In [25]:
# Perform left join of table b onto table a
joined_table = pd.merge(table_a, table_b, on='patient_id', how='left')

joined_table.head()

  patient_id  age  mass_kg  height_m  hematocrit_percent
0   pid_0001   29       52      1.63                47.0
1   pid_0002   26       44      1.62                 NaN
2   pid_0003   70       56      1.67                40.0
3   pid_0004   41       75      1.77                44.0
4   pid_0005   30       37      1.67                44.0

In [26]:
# Get row count of the new joined table to ensure no duplicates were created
joined_count = len(joined_table)

print("joined_table row count: ", joined_count)

joined_table row count:  1000

In [27]:
# Count the number of rows in the new table that did not join
non_joined_count = len(joined_table[joined_table['hematocrit_percent'].isna()])

print("# of NaNs in hematocrit_percent: ", non_joined_count)
print("# of rows joined: ", joined_count - non_joined_count)

# of NaNs in hematocrit_percent:  428
# of rows joined:  572

In [28]:
# Output results

print('Table a row count:', a_count)
print('Table b row count:', b_count)
print('Joined table row count:', joined_count)
print('Non-joined rows count:', non_joined_count)

Table a row count: 1000
Table b row count: 572
Joined table row count: 1000
Non-joined rows count: 428

In [29]:
# Filter out any rows that did not join
filtered_table = joined_table.dropna(subset=['hematocrit_percent'])

print('Filtered table row count:', len(filtered_table))

filtered_table.head()

Filtered table row count: 572

   patient_id  age  mass_kg  height_m  hematocrit_percent
0    pid_0001   29       52      1.63                47.0
2    pid_0003   70       56      1.67                40.0
3    pid_0004   41       75      1.77                44.0
4    pid_0005   30       37      1.67                44.0
12   pid_0013   27       29      1.64                45.0

In [ ]:
# output joined data set
filtered_table.to_excel('output.xlsx', sheet_name='Sheet1', index=False)